 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#c419ef;
    --black:#141215;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: normal;
    transition: all .2s linear;
    transition: width none;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: var(--black);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

body{
    overflow-x: hidden;
    background:  var(--black);
}


section {
    padding: 2 rem 9%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
}

.heading span {
    color:var(--main-color);
}

.btn{
    margin-top: 5rem;
    display: inline-block;
    padding: 2rem 2rem;
    font-size: 1.7rem;
    background: #fff;
    font-weight: 500;
    color:var(--black);
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);
    letter-spacing: .1rem;
    cursor: pointer;
    }

.header{
    position: fixed;
    top:0; 
    left:0; 
    right: 0;
    z-index: 1000;
    background: rgba(0,0,0,.8);
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center; 
}



.header .logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
    animation: floating 4s linear infinite;
}

.header .logo i{
    padding-right: .5rem;
    color:var(--main-color);
   
}


.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}

.header .navbar a.active,
.header .navbar a:hover{
    color: var(--main-color);
}

.header .icons a,
.header .icons div{
    font-size: 2rem;
    color:#c419ef;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover{
    color:#fff;
}


#menu.btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: -105%;
    background:#fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.header .search-form.active{
right:2rem;
opacity: 1;
transition: .2s linear;
}

.header .search-form input{
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--main-color)
}

@media(max-width:991px)
{
    html{font: size 55%;
}
.header{ padding: 2rem;
}
.header.active{
    padding: 2rem;
  
}
section{
    padding: 2 rem;
}


@media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
}

}


@media(max-width:450px){
    html{font: size 50%;

}

}
}

.header.active{
    padding: 2rem 9%;
    background: #222;
}

.home{
    padding:0;
}

.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;
}

.home .home-slider .box .content {
    text-align: center;
}

.home .home-slider .box .content h1{
    font-size: 6.5rem;
    color:#fff;
    transition-delay: .2s;
    margin-top: 20rem;
}

.home .home-slider .box .content h2{
    font-size: 6.5rem;
    color:#fff;
    transition-delay: .2s;
    margin-top: 20rem;
}

.home .home-slider .box .content p{
    font-size: 3rem;
    color:#fff;
    transition-delay: .4s;
    padding: 1rem 0;
}

.home .home-slider .box .button{
    transition-delay: .6s;
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: start;
}

.products .box-container .box {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.products .box-container .box .image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.products .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
}

.products .box-container .box:hover .image img {
    transform: scale(1.2);
}

.products .box-container .box .icons {
    position: absolute;
    top: 0;
    right: -6rem;
    z-index: 1;
}

.products .box-container .box:hover .icons {
    right: 1rem;
}

.products .box-container .box .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black);
    background: #fff;
    margin-top: 1rem;
    display: block;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
    color: #fff;
}

.products .box-container .box .content {
    padding: 1rem 0;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #fff;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

.products .box-container .box .content .price span {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--main-color);
    text-decoration: line-through;
}



.about {
    background: url(image/h3.jpg) center/cover no-repeat;
    padding: 8rem 10%;
}

/* FLEX CONTAINER */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
}

/* LEFT SIDE */
.about-left {
    flex: 1;
    max-width: 500px;
}

.about-left h4 {
    font-size: 3rem;
    color: var(--main-color);
}

.about-left p {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.8;
}

/* RIGHT SIDE */
.about-right {
    flex: 1;
}

.about-right p {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1rem;
}

.about-right ul {
    list-style: none;
    padding: 0;
}

.about-right li {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}


.arrivals .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.arrivals .box-container .box{
    position: relative;
    text-align: center;
    overflow: hidden;

}

.arrivals .box-container .box .image {
    position: relative;
    text-align: center;
    overflow: hidden;

}

.arrivals .box-container  .box .image{
    width: 100%;
    overflow: hidden;
}


.arrivals .box-container  .box .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.arrivals .box-container .box:hover .image img{
    transform: scale(1.2);
}

.arrivals .box-container  .box .icons{
    position: absolute;
    top: 0;
    right: -6rem;
    z-index: 1;
}

.arrivals .box-container  .box:hover .icons{
    right: 1rem;
}

.arrivals .box-container  .box .icons a{
    height:4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color:var(--black);
    background: #fff;
    margin-top: 1rem;
    display: block;

    }

    .arrivals .box-container  .box .icons a:hover{
    background: var(--main-color);
    color: #fff;
}

.arrivals .box-container  .box .content{
    padding-top: 1rem 0;
}

.arrivals .box-container  .box .content h3{
    font-size: 2.5rem;
    font-weight: normal;
    color: #fff;
}

.arrivals .box-container  .box .content .price {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

.arrivals .box-container  .box .content .price span{
    font-size: 1.5rem;
    font-weight: bolder;
    color:var(--main-color);
    text-decoration: line-through;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
}

.contact .row form{
    flex:1 1 42rem;
    padding: 2rem;
    text-align: center;
    background: #222;
}

.contact .row form h3{
    font-size: 3rem;
    padding-bottom: 1rem;
    color:var(--main-color);
}

.contact .row form .box{
    width:100%;
    padding:1rem 1.2rem;
    background:var(--black);
    color:#fff;
    font-size: 1.6rem;
    text-transform: none;
    margin: .7rem 0;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;

}

.blogs .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    overflow: cover;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
    background: #222;
}

.blogs .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--main-color);
   line-height: 1.8;
   

}

.blogs .box-container .box .content p{
    font-size: 1.5rem;
    color: #fff;
    line-height: 2;
    text-align: left;
 }

 .blogs .box-container .box .content .icons{
    margin: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 .blogs .box-container .box .content .icons a{
    font-size: 1.4rem;
    color:var(--main-color);
}

.blogs .box-container .box .content .icons a i{
    padding-right: .5rem;
}

.footer {
    background: #000;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--main-color);
}

.footer .box-container .box a i{
   padding-right: .5rem;
   color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color:#fff;
 }

 .footer .credit{
    padding: 1rem;
    padding-top: 2.rem;
    margin-top: 2.rem;
    font-size: 2rem;
    color:#aaa;
    text-align: center;
    border-top: 0.1rem solid #fff3;
 }

 .footer .credit{
    color:var(--main-color);
 }
 .footer .credit a{
    color: #fff;
 }

 .about{
    background: url(image/h3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.footer .box-container {
    text-align: center;   /* center everything inside */
    justify-items: center; /* center grid items */
}

.footer .box-container .box {
    text-align: center;   /* center text inside each box */
}

.video {
    padding: 5rem 7%;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.video-box {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    border-radius: 1rem;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.animation {
    padding: 5rem 9%;
}

.animation-container {
    display: flex;
    justify-content: center;
}

.animation-box {
    width: 800px;
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.animation-box iframe {
    width: 100%;
    height: 450px;
    border-radius: 15px;
}


.web-box {
    background: #111;
    padding: 4rem;
    border-radius: 15px;
    max-width: 700px;
    text-align: center;
}

.web-box h4 {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.web-box p {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 2rem;
}
.web {
    padding: 3rem 9%; /* smaller section spacing */
}

.web-container {
    display: flex;
    justify-content: center; /* vycentruje ich */
    gap: 3rem; /* tu nastavíš veľkosť medzery */
    margin-top: 1rem;
}
